//global variables 
$main_color: #1A5CE0;
$second_color: #FFC000;
// $second_color: #e70005;
$dark_color: #222;
$gray: #999999;
$padding_section: 80px 0;
//global styles

//mixins
@mixin borderRadius($border) {
    border-radius: $border;
    -webkit-border-radius: $border;
    -moz-border-radius: $border;
    -ms-border-radius: $border;
    -o-border-radius: $border;
}

@mixin transition($trans) {
    transition: $trans;
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -ms-transition: $trans;
    -o-transition: $trans;
}

@mixin transform($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}

@mixin animation($anim) {
    animation: $anim;
    -webkit-animation: $anim;
    -moz-animation: $anim;
    -ms-animation: $anim;
    -o-animation: $anim;
}

@mixin animationDelay($anim) {
    -webkit-animation-delay: $anim;
    -moz-animation-delay: $anim;
    -ms-animation-delay: $anim;
    -o-animation-delay: $anim;
    animation-delay: $anim;
}

@mixin boxshadow($shadow) {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -o-box-shadow: $shadow;
}

//mixins

//placeholder selectors
%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%overflow_text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

%overlay {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

%before {
    content: "";
    position: absolute;
}

%fitimage {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

%max_lines {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

%max_one_line {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

//placeholder selectors

//main title
.main-title {
    margin-bottom: 2rem;
    position: relative;

    h2 {
        font-size: 34px;
        color: #222;
        position: relative;
        margin-bottom: 20px;
        font-weight: 600;

        // &::before {
        //     position: absolute;
        //     content: '';
        //     background: url(../images/icons/wave-icon-2.png);
        //     width: 33px;
        //     height: 8px;
        //     right: 0;
        //     bottom: 0;
        //     background-repeat: no-repeat;
        // }
    }

    .top-title {
        color: $gray;
        margin-bottom: 20px;
        display: block;
        font-size: 14px;
    }

    p {
        max-width: 770px;
        margin: auto;
        line-height: 1.8;
        color: #999999;
        font-size: 14px;
        margin-top: 20px;
        line-height: 24px;
    }
}

//main title

%btn_selector {
    .outer-btn {
        display: inline-block;
        position: relative;

        &:hover {
            &::before {
                width: 100%;
                height: 100%;
            }
        }
    }

    .btn {
        @include borderRadius(0);
        font-size: 15px;
        text-transform: capitalize;
        @include transition(all ease 0.3s);
        padding: 0;
        background: none;
        color: #fff;
        position: relative;
        background-color: #fff;
        border: 1px solid #fff;
        overflow: hidden;

        &:focus,
        &:active,
        &:hover {
            color: #fff;
            box-shadow: none;

            span {
                overflow: hidden;

                &::before {
                    @include transform(translateX(-40%));
                }

                &::after {
                    @include transform(translateX(40%));
                }
            }
        }

        span {
            position: relative;
            display: block;
            padding: 17px 35px;
            z-index: 1;

            &::before,
            &::after {
                position: absolute;
                content: "";
                border-bottom: 60px solid $second_color;
                @include transition(all ease 0.3s);
                z-index: -1;
            }

            &::before {
                top: 0;
                bottom: 0;
                left: 0;
                right: -50px;
                border-right: 35px solid transparent;
                @include transform(translateX(-100%));
            }

            &::after {
                top: 0;
                bottom: 0;
                right: 0;
                left: -50px;
                border-left: 35px solid transparent;
                @include transform(translateX(100%));
            }
        }
    }
}

//to top button
#toTop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    margin: 0;
    z-index: 99;
    display: none;

    button {
        background-color: #fff;
        width: 55px;
        height: 55px;
        border: none;
        color: #000;
    }
    &::after {
        position: absolute;
        content: '';
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 1;
        z-index: -1;
        background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
        background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
    }
}

//to top button

//main broadcrumb
.main-breadcrumb {
    padding: 1.5rem 0;

    ol {
        margin: 0;
        padding: 0;
    }

    .breadcrumb {
        .breadcrumb-item {
            font-size: 14px;

            &.active {
                color: #6c6b6b;
                font-weight: 500;
            }

            &::before {
                color: #6c6b6b;
            }
        }
    }
}

//main broadcrumb

//global styles
.btn,
.btn-close {
    &:focus {
        box-shadow: none;
        outline: none;
    }
}

dl,
ol,
ul {
    padding: 0;
    padding-inline-start: 20px;
}

.modal-backdrop.show {
    opacity: .7;
}

a {
    text-decoration: none;
}

.form-check-input:checked {
    background-color: $main_color;
    border-color: $main_color;
}

.alert {
    font-size: 14px;
    @include borderRadius(0);

    strong {
        margin-inline-end: 5px;
    }

    .btn {
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        @include borderRadius(30px);
        padding: 10px 30px;
        background-color: $main_color;
        border-color: $main_color;

        &:hover {
            background-color: $dark_color;
            border-color: $dark_color;
            color: #fff;
        }
    }
}

.alert-dismissible .btn-close {
    left: auto;
}

.alert-success {
    border: 0;
    border-top: 3px solid #8fae1b;
    background-color: #f7f6f7;
}

.alert-danger {
    border: 0;
    border-top: 3px solid #b81c23;
    background-color: #f7f6f7;
}

//global styles

//loader
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #020637;
    display: flex;
    justify-content: center;
    align-items: center;

    video {
        max-width: 100%;
    }
}

//loader