//main slider
section(class="main-slider" dir="ltr")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="slider-item")
            div(class="slider-image" style="background-image:url('images/slider/01.jpg')")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") مركز صيانة توشيبا
                            br
                        p  مركز صيانة توشيبا نصلك اينما كنت، معنا ستحصلون علي افضل خدمات الصيانة لمنتجات شركة توشيبا  للغسالات والثلاجات والديب فريزر والتكيفات وجميع الاجهزة بالمنزل
                        div(class="item-btn")
                            div(class="outer-btn")
                                a(href="#about" class="btn") 
                                    span المزيد عنا
        div(class="slider-item")
            div(class="slider-image" style="background-image:url('images/slider/02.jpg')")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") مركز صيانة توشيبا
                            br
                        p مركز صيانة توشيبا نصلك اينما كنت، معنا ستحصلون علي افضل خدمات الصيانة لمنتجات شركة توشيبا  للغسالات والثلاجات والديب فريزر والتكيفات وجميع الاجهزة بالمنزل
                        div(class="item-btn")
                            div(class="outer-btn")
                                a(href="#about" class="btn") 
                                    span المزيد عنا
        div(class="slider-item")
            div(class="slider-image" style="background-image:url('images/slider/03.jpg')")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") مركز صيانة توشيبا
                            br
                        p مركز صيانة توشيبا نصلك اينما كنت، معنا ستحصلون علي افضل خدمات الصيانة لمنتجات شركة توشيبا  للغسالات والثلاجات والديب فريزر والتكيفات وجميع الاجهزة بالمنزل
                        div(class="item-btn")
                            div(class="outer-btn")
                                a(href="#about" class="btn") 
                                    span المزيد عنا
//main slider

//about us
section(class="about" id="about")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="about-image")
                        img(src="images/about/01.jpg", class="img1" alt="")
                        div(class="image")
                            div(class="image-text text-center")
                                h3 235
                                p مشروعات منتهية
                            img(src="images/about/02.jpg", class="img2" alt="")
                div(class="col-lg-6 d-flex flex-column justify-content-center")
                    div(class="main-title")
                        span(class="top-title") مركز صيانة توشيبا
                        h2 مركز توشيبا بالقاهرة والجيزة وجميع المحافظات
                    div(class="about-text")
                        p نقدم لك في مركز صيانة توشيبا ولأسرتك كل أجزاء قطع الغيار الاصلية بخصم يتعدى الى 50 % من الثمن الأساسي مع مراعاة تبديل قطع الغيار فى اى وقت فقط تواصل مع خدمة عملاء مركز صيانة ديب فريزر توشيبا المعتمد مستعدون لاستقبال اتصالات واستفسارات عملاء صيانة ديب فريزر توشيبا فى اى مكان وفى اى وقت
                        h3 مركز صيانة الثلاجات توشيبا​
                        p يعتبر توكيل توشيبا المعتمد المركز الوحيد المخصص لتلقي بلاغات اعطال اجهزة توشيبا المميزة وذلك عن طريق نخبة متميزة من المهندسين والفنيين ومجهزين بسيارات مجهزة لتتم عملية اصلاج الجهاز ماركة توشيبا بأفضل الاساليب والطرق ويسلم للعميل بحالة الجهاز الجديد 
                    div(class="about-btn")
                        div(class="outer-btn")
                            a(href="#services" class="btn") 
                                span الخدمات
                                    i(class="bi bi-arrow-left")
                        div(class="phone")
                            div(class="icon")
                                i(class="bi bi-telephone") 
                            div(class="text")
                                h4 اتصل بنا
                                p ‎
                                    a(href="tel:01141477568") 01141477568
//about us

//video
//- section(class="video" style="background-image:url('images/bgs/bg-1.jpeg')")
    div(class="container")
        div(class="content")
            div(class="vid-icon")
                a(href="https://youtu.be/JDMVVARJnoM" data-fancybox="") 
                    i(class="bi bi-play-fill")
            div(class="vid-text")
                p رغبة في توفير المياه وتلبية احتياجات العملاء فإننا نقدم خدماتنا لمختلف القطاعات.
                h2 قطاعات الأعمال
//video

//about tabs
//- section(class="about-tabs" id="works")
    div(class="container")
        div(class="content")
            ul(class="nav nav-pills", role="tablist")
                li(class="nav-item", role="presentation")
                    button(class="nav-link active", id="about-1-tab" data-bs-toggle="pill", data-bs-target="#about-1", type="button", role="tab", aria-controls="about-1", aria-selected="true") قطاع الزراعة
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="about-2-tab" data-bs-toggle="pill", data-bs-target="#about-2", type="button", role="tab", aria-controls="about-2", aria-selected="false") قطاع الطب
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="about-3-tab" data-bs-toggle="pill", data-bs-target="#about-3", type="button", role="tab", aria-controls="about-3", aria-selected="false") قطاع الصناعة
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="about-4-tab" data-bs-toggle="pill", data-bs-target="#about-4", type="button", role="tab", aria-controls="about-4", aria-selected="false") قطاع السياحة
            div(class="tab-content")
                div(class="tab-pane fade show active", id="about-1" role="tabpanel", aria-labelledby="about-1-tab") 
                    div(class="row")
                        div(class="col-lg-7")
                            div(class="title")
                                h3 عن الحياة إيجيبت
                            div(class="text")
                                p متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها ننفرد بخدمة عملاء مميزة علميًا ومهنيًا مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="col-lg-5")
                            div(class="image")
                                img(class="img-fluid" data-src="images/works/01.jpeg" alt="")
                div(class="tab-pane fade", id="about-2" role="tabpanel", aria-labelledby="about-2-tab") 
                    div(class="row")
                        div(class="col-lg-7")
                            div(class="title")
                                h3 عن الحياة إيجيبت
                            div(class="text")
                                p متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها ننفرد بخدمة عملاء مميزة علميًا ومهنيًا مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="col-lg-5")
                            div(class="image")
                                img(class="img-fluid" data-src="images/works/01.jpeg" alt="")
                div(class="tab-pane fade", id="about-3" role="tabpanel", aria-labelledby="about-3-tab") 
                    div(class="row")
                        div(class="col-lg-7")
                            div(class="title")
                                h3 عن الحياة إيجيبت
                            div(class="text")
                                p متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها ننفرد بخدمة عملاء مميزة علميًا ومهنيًا مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="col-lg-5")
                            div(class="image")
                                img(class="img-fluid" data-src="images/works/01.jpeg" alt="")
                div(class="tab-pane fade", id="about-4" role="tabpanel", aria-labelledby="about-4-tab") 
                    div(class="row")
                        div(class="col-lg-7")
                            div(class="title")
                                h3 عن الحياة إيجيبت
                            div(class="text")
                                p متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها ننفرد بخدمة عملاء مميزة علميًا ومهنيًا مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="col-lg-5")
                            div(class="image")
                                img(class="img-fluid" data-src="images/works/01.jpeg" alt="")
//about tabs

//cta
//- section(class="cta")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="image")
                        img(data-src="images/cta.png" class="img-fluid" alt="")
                div(class="col-lg-6")
                    div(class="text")
                        div(class="main-title")
                            h2 الحياة إيجيبت
                            p متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها
                        ul 
                            li متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية.
                            li نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها.
                            li لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب.
                            li مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها.
                            li ننفرد بخدمة عملاء مميزة علميًا ومهنيًا.
                            li مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="btns")
                            a(href="products.html", class="btn", rel="nofollow") اطلب الآن
//cta

//services
section(class="services" id="services")
    div(class="container")
        div(class="main-title")
            h2 خدمات صيانة توشيبا
            p نحن نهدف إلى تقديم الحل الأمثل لكافة المشاكل عن طريق المنتجات والخدمات الأتية:
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/services/01.jpg" alt="")
                        div(class="details")
                            h3(class="title") مثال على عنوان الخدمة
                            p نقدم لك في مركز صيانة توشيبا ولأسرتك كل أجزاء قطع الغيار الاصلية بخصم يتعدى الى 50 % من الثمن الأساسي
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/services/02.jpg" alt="")
                        div(class="details")
                            h3(class="title") مثال على عنوان الخدمة
                            p نقدم لك في مركز صيانة توشيبا ولأسرتك كل أجزاء قطع الغيار الاصلية بخصم يتعدى الى 50 % من الثمن الأساسي
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/services/03.jpg" alt="")
                        div(class="details")
                            h3(class="title") مثال على عنوان الخدمة
                            p نقدم لك في مركز صيانة توشيبا ولأسرتك كل أجزاء قطع الغيار الاصلية بخصم يتعدى الى 50 % من الثمن الأساسي
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/services/04.jpg" alt="")
                        div(class="details")
                            h3(class="title") مثال على عنوان الخدمة
                            p نقدم لك في مركز صيانة توشيبا ولأسرتك كل أجزاء قطع الغيار الاصلية بخصم يتعدى الى 50 % من الثمن الأساسي
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/services/05.jpg" alt="")
                        div(class="details")
                            h3(class="title") مثال على عنوان الخدمة
                            p نقدم لك في مركز صيانة توشيبا ولأسرتك كل أجزاء قطع الغيار الاصلية بخصم يتعدى الى 50 % من الثمن الأساسي
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/services/06.jpg" alt="")
                        div(class="details")
                            h3(class="title") مثال على عنوان الخدمة
                            p نقدم لك في مركز صيانة توشيبا ولأسرتك كل أجزاء قطع الغيار الاصلية بخصم يتعدى الى 50 % من الثمن الأساسي
//services

//contact bg
section(class="contact-bg" style="background-image:url('images/bgs/bg-2.jpg')")
    div(class="container")
        div(class="content")
            div(class="icon")
                a(href="tel:01141477568") 
                    i(class="bi bi-telephone-outbound")
            div(class="text")
                p خدمة العملاء في حالات الطوارئ 24 ساعة 7 أيام في الأسبوع
                h2 تواصل معنا
//contact bg

//contact us
section(class="contact")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-4")
                    div(class="image")
                        img(src="images/contact.jpg", class="img-fluid" alt="")
                div(class="col-lg-8")
                    div(class="contact-form")
                        form(class="needs-validation" novalidate)
                            div(class="row")
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        input(type="text" class="form-control" placeholder="الاسم" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        input(type="email" class="form-control" placeholder="الإيميل" required)
                                div(class="col-lg-12")
                                    div(class="form-group position-relative")
                                        input(type="number" class="form-control" placeholder="الهاتف" required)
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        textarea(class="form-control" rows="6" placeholder="الرسالة")
                            div(class="contact-btn")
                                button(class="btn" type="submit") إرسال الآن
//contact us

//clients
//- section(class="clients" id="clients")
    div(class="container")
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/02.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/03.png" alt="")
//clients

//map
section(class="map")
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110502.76973610223!2d31.32850474122178!3d30.05946989057208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2z2KfZhNmC2KfZh9ix2KnYjCDZhdit2KfZgdi42Kkg2KfZhNmC2KfZh9ix2KnigKw!5e0!3m2!1sar!2seg!4v1649805137561!5m2!1sar!2seg", width="100%", height="450", style="border:0;", allowfullscreen="", loading="lazy")
//map

//contact info
section(class="contact-info" id="contact")
    div(class="container")
        div(class="content")
            div(class="details")
                div(class="row")
                    div(class="col-md-4")
                        div(class="info-box")
                            div(class="icon")
                                i(class="bi bi-pin-map")
                            div(class="info")
                                h4 العنوان
                                p القاهرة، مصر
                    div(class="col-md-4")
                        div(class="info-box")
                            div(class="icon")
                                i(class="bi bi-telephone")
                            div(class="info")
                                h4 الهاتف
                                p 
                                    a(href="tel:01141477568" dir="ltr" style="color:#ff4917;font-size:24px;font-wight: 800") 01141477568
                    div(class="col-md-4")
                        div(class="info-box")
                            div(class="icon")
                                i(class="bi bi-envelope") 
                            div(class="info")
                                h4 الإيميل
                                p
                                    a(href="mailto:support@website.com") support@website.com
            div(class="text")
                div(class="info-logo")
                    a(href="index.html") 
                        img(data-src="images/logo-white.svg", class="img-fluid" alt="")
                p يعتبر توكيل توشيبا المعتمد المركز الوحيد المخصص لتلقي بلاغات اعطال اجهزة توشيبا المميزة وذلك عن طريق نخبة متميزة من المهندسين والفنيين ومجهزين بسيارات مجهزة لتتم عملية اصلاج الجهاز ماركة توشيبا بأفضل الاساليب والطرق ويسلم للعميل بحالة الجهاز الجديد 
            div(class="social-links")
                div(class="links")
                    a(href="", class="bi bi-facebook")
                    a(href="", class="bi bi-youtube")
                    a(href="", class="bi bi-twitter")
                    a(href="", class="bi bi-instagram")
//contact info